# Configuration de l'authentification
JWT_SECRET=votre-secret-jwt-super-secret-changez-moi
ADMIN_PASSWORD=admin123

# Configuration de la base de données
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=db_otp

# Environment (development, production)
NODE_ENV=development

# Port de l'application
PORT=3000

# Configuration de l'email
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=your-email@example.com
MAIL_PASSWORD=otp-nxs-20
MAIL_FROM=noreply@yourdomain.com
ADMIN_EMAIL=admin@yourdomain.com
